* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   
nav{
    padding: 17px; 
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: right;
    gap: 30px;
    opacity: 75%;
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;     
    z-index: 1000;
    }

nav button{
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 94, 94);  
    border-radius: 15px;
    border: 2px solid #000000; 
    border-radius: 8px;  
    padding: 10px 20px;      
    
    }

main{
    padding-bottom: 10003px;
    background-color: rgb(226, 226, 226);
}

.ImgMain{
    
    background-color: rgb(224, 224, 224);
    padding: 300px 10px ;
    gap: 99px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.ImgMain img{
    width: 500px;
    height: auto;
}