* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   
nav{
    padding: 17px; 
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: right;
    gap: 30px;
    opacity: 75%;
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;     
    z-index: 1000;
    }

nav button{
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 94, 94);  
    border-radius: 15px;
    border: 2px solid #000000; 
    border-radius: 8px;  
    padding: 10px 20px;      
    
    }

main{
    padding-bottom: 10003px;
    background-color: rgb(226, 226, 226);
}

.ImgMain{
    
   
    padding: 150px 10px ;
    gap: 99px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 180px;  
    left: 0px; 
}

.ImgMain img{
    width: 500px;
    height: auto;
}

.ImgText {
    position: relative;
    top: 70px;
    background-color: blue;
    display: flex;
    justify-content: center;
    gap: 99px; 
}

.item-texto {
    display: flex;
    flex-direction: column; 
    width: 500px;           
    text-align: left;       
    color: rgb(0, 0, 0);          
}

.item-texto p {
    margin-top: 10px;       
    font-size: 16px;
}

.TituloMain{
    position: relative;
    top: 300px;  
    left: 99px; 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    display: flex;
    justify-content: left;
    gap: 350px; 
    
    text-align: left;
    
    text-align: center;
    background-color: aqua  ;
            
    text-align: left;       
    color: rgb(0, 0, 0);         
}


